body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    background:  center bottom no-repeat;
    background-image: url("../img/bogota.png" );
    background-size: cover;
}
#myMap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50vw;
    height: 90.1vh;
}
footer{
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(rgb(85, 171, 42), green, rgba(0, 255, 170, 0.652), alpha) !important;
}
.listaFooter{
    margin: 0 1rem;
    list-style: none;
}
@media screen and (max-width: 768px){
    #myMap {
        width: 100vw;
        height: 79vh;
    }
}
@media screen and (min-height: 944px){
    #myMap {
        width: 100vw;
        height: 85vh;
    }
}