body{
    background:  center bottom no-repeat;
    background-image: url("../img/bogota.png" );
    background-size: cover;
}
.titulo{
    margin: 0;
    padding-left: 1.5rem;
    padding-bottom: 5px;
}
.mapas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapas>div{
    margin: 1rem;
}
#myMap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50vw;
    height: 83.1vh;
}
footer{
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(rgb(85, 171, 42), green, rgba(0, 255, 170, 0.652), alpha) !important;
}
.listaFooter{
    margin: 0 1rem;
    list-style: none;
}