body{
    background:  center bottom no-repeat;
    background-image: url("../img/bogota.png" );
    background-size: cover;
}
.titulo{
    margin: 0;
    padding-left: 1.5rem;
    padding-bottom: 5px;
}
.mapas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapas>div{
    margin: 1rem;
}
#myMap {
    position: relative;
    width: calc(90vw - 50%);
    height: 52.5    rem;
    margin: 0 auto;
}
footer{
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listaFooter{
    margin: 0 1rem;
    list-style: none;
}